:root {
    --maincolor: #669CF5;
    --background: #35424A;
}

body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5; /*! satırlar arası boşluk letter-space ise harfler arası boşluk verir */
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden; /*! container da sayfadaki taşmaları önlüyor. taşmayıp kesmiş oluyor */
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--background);
    color: #fff;
    min-height: 70px;
    padding-top: 30px;
    border-bottom: var(--maincolor) 3px solid;
}

header a {
    color: #fff;
    text-decoration: none; /*! altındaki çizgiler gitti */
    text-transform: uppercase; /*! hepsi büyük harf oldu */
}

header ul {
    list-style-type: none;
}

header li {
    float: left;
    display: inline; /* satır içi seviyesinde gösteriyor blok yani box olmuyor */
    padding: 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight , header .current a {
    color: var(--maincolor);
    font-weight: bold;
}

/* navbar end */

#showcase {
    background: url(/img/showcase.jpg) no-repeat 0 -400px; /* laptop olan arka plan resmini ortaladı */
    min-height: 400px;
    text-align: center;
    color: #fff;
}

#showcase h1{
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

/* BU BÖLÜM SONU */

#newsletter {
    background: var(--background);
    color: #fff;
    padding: 15px;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input {
    height: 25px;
    width: 250px;
    padding: 4px;
}

.button_1 {
    height: 40px;
    background: var(--maincolor);
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 0 20px;
}

/* BU BÖLÜM SONU */

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 30%; /* bunu vermezsek üstteki yazıdan dolayı resim yana geçemedi. */
    padding: 10px;
    text-align: center;
}

#boxes .box img {
    width: 90px;
}

footer {
    background: var(--maincolor);
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

/* Anasayfa KOMPLE BİTTİ */

/* HAKKIMIZDA sayfası Başlangıç */

.dark {
    background-color: var(--background);
    padding: 15px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

article#main-col {
    float: left;
    width: 60%;
}

/* hizmetler kısmı */

aside#sidebar .quote input,
aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}
ul#services li {
    background-color: #e6e6e6;
    border: #ccc solid 1px;
    list-style: none;
    padding: 20px;
    margin-bottom: 5px;
}

/* burasıda biti */
/* sayfa boyunutu büyültüp küçültünce sağda ya da
yanyana olanlar alta insin diye yapılıyor */

@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        text-align: center;
        width: 100%;
        float: none;
    }
}